.streamsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-gap: 4rem;
    align-items: center;
    justify-items: center;
}

@media (max-width: 480px) {
    .streamsContainer {
        display: flex;
        flex-direction: column;
    }
}
