.profileEditContainer {
  max-width: 90rem;
}

.imageSection {
  width: 100%;
  background: #18181b;
  border: 1px solid #303032;
  border-radius: 2px;
  padding: 2rem;
  margin-bottom: 5rem;
}

.subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 20px;
  margin-bottom: 3rem;
}


