/*stream image*/

.streamImage {
    flex-shrink: 0;
    align-self: flex-start;
    margin-left: 2rem;
    display: flex;

    &:hover {
        opacity: 0.8;
    }
}

.streamImage .imageBorder {
    border-radius: 9000px;
    overflow: hidden;
    position: relative;
    background-color: inherit;
    width: 12rem;
    height: 12rem;
    display: flex;
}

.streamVideo {
    width: calc(100% - 4rem);
    height: 45vh;
}

.streamFrontPageImage {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/*stream information*/

.streamInfo {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    justify-content: center;

    & * {
        margin-top: 0%;
        margin-bottom: 0%;
        font-size: 1.4rem;
    }
}

.aboutContainer {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(201, 201, 201);
    vertical-align: middle;
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.streamAbout {
    margin-top: 10rem;
    margin-left: 3rem;
}

.streamDescriptionAbout {
    margin-top: 1rem;
    padding-left: 10rem;
}

.streamCard {
    list-style: none;

    //align-items: center;
    display: flex; //inline-flex
    padding-bottom: 1rem;
    margin-left: 0rem;
    max-width: 90%;
    overflow: hidden;
}

.heroContainer {
    margin-top: 3rem;
    max-width: 100rem;
    width: calc(100% - 4rem);
}

.heroContainerRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;

    & button, svg {
        margin: 0;
    }
}

.aboutSection {
    background: #18181b;
    border-radius: 2px;
    padding: 3.2rem;
    word-wrap: break-word;
    overflow: auto;
    margin: 2rem;
    max-width: 100rem;
    width: calc(100% - 4rem);

    & .aboutTittle {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 20px;
    }

    & .followers {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }

    &.text {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

        font-feature-settings: "salt" on, "liga" off;
    }
    &.aboutBox {
        overflow: auto;
    }

    &.textAbout {
        width: auto;
    }
}

.streamDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    //center items
    align-items: center;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 750px) {
    .heroContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & .aboutContainer {
            margin: 0;

        }
    }

    .streamImage {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .about {
        display: flex;
        flex-direction: column;
    }
}