.modalContainer {
  color: white;
  justify-content: center;
}

.modalContainer .credentialsContainer {
  display: flex;
  background: #18181b;
}

.logoModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8rem;
  padding-right: 8rem;

  background-image: url("patronLogo.svg");
  object-fit: cover;
}

.logoModal h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  
  color: #B3BEBD;
}

.logo {
    padding-bottom: 1.2rem;
}

.buttonSelector {
    display: flex;
    justify-content: flex-start;
}

.buttonSelector {
  list-style: none;
  padding: 0;
  margin-bottom: 4rem;
  
}

.buttonSelector .active {
  color: #2EC5CE;
}

.buttonSelector li {
  margin-right: 4rem;
}

.underline {
  background: #2EC5CE;
  height: .5rem;
}

.buttonSelector li span{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  padding-bottom: 1rem;

}

.credentialsContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4.9rem 5rem;
    
}

.form {
  width: 2rem;
  height: 2rem;
}
