.modalContainer {
  color: white;
  justify-content: center;
}

.modalContainer .credentialsContainer {
  display: flex;
  background: #18181b;
}

.logoModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8rem;
  padding-right: 8rem;

  background-color: #232323;
  background-size: cover;
}

.logoModal span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;

  color: #b3bebd;
}

.logo {
  padding-bottom: 1.2rem;
}



.buttonSelector {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin-bottom: 5rem;
}

.buttonSelector .active {
  color: #2ec5ce;
}

.buttonSelector li {
  margin-right: 4rem;
  cursor: pointer;
}

.underline {
  background: #2ec5ce;
  height: 0.5rem;
  margin-top: 1rem;
  border-radius: 2px;
}

.buttonSelector li span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 1rem;
}

.credentialsContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4.9rem 5rem;
}

.form {
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 768px) {
  .logoModal {
    display: none;
  }

  .credentialsContent {
    padding: 3rem 3.1rem;
  }
}