$size: 8rem;

.landingContainer {
      
}

.heroContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#18181B;
    

}

.slogan {
    margin: 0;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;

}

.heroContentLeft{
    padding-left: 15rem;
}

.heroContentLeft h3 {
    margin: 0;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.2rem;  
    margin-bottom: 3.2rem;
}

.heroContentLeft button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;

    color: #FFFFFF;
    padding: 1.2rem 3.2rem;

    background: #2EC5CE;
    border-radius: 6px;
}

.heroContentRight {
    position: relative;
    padding:  6rem 12rem;
}

.logoBox {

}

.logo {
    width: 49.4rem;
    height: 49.4rem;
}

.decoration {
    background: #FFFFFF;
    margin: 0 1em 1em 0;
}

.top,
.bottom {
    height: $size;
    width: $size * 2;
}

.left {
    height: $size * 2;
    width: $size;
}

div.decoration.top{
    position: absolute;
    border-top-left-radius: $size * 2;
    border-top-right-radius: $size * 2;
    top: -6%;
    left: 0%;

}

div.decoration.bottom{
    position: absolute;
    border-bottom-left-radius: $size * 2;
    border-bottom-right-radius: $size * 2;
    top: 50%;
    left: 90%;
}

div.decoration.left{
    position: absolute;
    z-index: -1;
    border-bottom-left-radius: $size * 2;
    border-top-left-radius: $size * 2;
    top: 92%;
    left: 20%;
}

.img1, .img2, .img3, .img4 {
    position: absolute;
    object-fit: cover;
    border-radius: 50%;    
    top: 0;
    left: 0;
}

div .img1 {   
    height: 16rem;
    width: 16rem;
    left: 45%;
    top: 20%;
}

div .img2 {   
    height: 10rem;
    width: 10rem;
    
    top: 70%;
    left: 5%;
}

div .img3 {   
    height: 13rem;
    width: 13rem;
    left: 50%;
    top: 70%;
}

div .img4 {   
    height: 12rem;
    width: 12rem;
    top: 30%;
}


.content {
    padding: 3.5rem 7.8rem;
    
    h2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 2.0rem;

        margin-bottom: 3.9rem;
    }
}

.streamsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-gap: 4rem;
}

@media (max-width: 480px) {
    .streamsContainer {

        display: flex;
        flex-direction: column;
    }
}