.loginContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputsFields {
  width: 35rem;
}

.inputsFields input {
  width: 100%;
  height: 4rem;
  outline: none;
  color: #fff;
  border: 0 !important;
  padding: 0;

  font-size: 1.8rem;

  background-color: #18181b;
  border: 2px solid #18181b;
}

.inputsFields div span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 24px;
  color: #b3bebd;
}

.emailInput {
  margin-bottom: 3rem;
}



.passwordInput {
  margin-bottom: 1rem;
}

.errorText {
  color: #df4545;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.underline {
  background: #969bab;
  height: 0.2rem;
}

.forgotPassword {
  margin: 0;
}

.forgotPassword span{
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  color: #2EC5CE !important;
}

.inputsFields button {
  width: 100%;
  height: 4rem;
  background-color: #2EC5CE;
  border: none;
  border-radius: 4px;
  margin-top: 3rem;

  
  span {
    color: white;
  }
}
