.empty {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 40px;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.options li {
    list-style: none;
    margin: 0 10px;
    font-size: 2.2rem;
}