.streamCard {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
}

/*stream image*/

.streamImage {
    position: relative;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 100rem;
    background-color: white;

    &:hover {
        opacity: 0.8;
    }
}

.streamImage a img {
    width: 100%;
    height: auto;
}

/*stream information*/

.streamInfo {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    max-width: 55rem;

    & * {
        margin-top: 0%;
        margin-bottom: 0%;
        font-size: 1.4rem;
    }
}

.streamUsername {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(201, 201, 201);

    &:hover {
        opacity: 0.8;
    }
}

.streamAbout {
    margin-top: 1rem;
}