::placeholder {
    color: #ada8a5;
}

.searchContainer {
    display: flex;
    justify-content: center;
}

.searchInput {
    width: 35.5rem;
    height: 100%;
    padding: .6rem;
    margin-right: .1rem;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    color: #fff;
    background-color: #464649;
    border: 2px solid #464649;
    outline: none;
    font-size: 1.5rem;
}

.searchInput:hover {
    border: 2px solid #5d5d5f;
}

.searchInput:focus {
    border: 2px solid var(--primary-color);
    background-color: black;
}

.searchButton {
    display: grid;
    place-content: center;
    background-color: #29292c;
    border: none;
    width: 3rem;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    box-sizing: content-box;
}

.searchButton:hover {
    cursor: not-allowed;
    background-color: #464649;
}

.searchButton:active {
    background-color: #525254;
}

.searchButton .icon {
    color: #efeff1;
}

@media screen and (max-width: 768px) {
    .searchInput {
        width: 18rem;
    }
}

@media screen and (max-width: 630px) {
    .searchInput {
        width: 25rem;
    }
}

@media screen and (max-width: 480px) {
    .searchInput {
        width: 15rem;
    }
}

@media screen and (max-width: 300px) {
    .searchInput {
        width: 10rem;
    }
}
