::-webkit-scrollbar {
    width: 10px !important;
}


::-webkit-scrollbar-thumb {
    background: #4a4a4c !important;
    border-radius: 10px !important;
}

:root {
    --primary-color: #22949b !important;
    --navbar-height: 50px !important;
    --sidebar-width: 310px !important;
}

html {
    font-size: 62.5% !important;
    box-sizing: border-box !important;

}

*,
*:before,
*:after {
    box-sizing: inherit !important;
}

body {
    margin: 0 !important;
    
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    background-color: #18181B !important;
    color: white !important;
    font-size: 1.6rem !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace !important;
}

a {
    text-decoration: none !important;
    color: white !important;
}

h2 {
    text-decoration: none !important;
    color: white !important;
}

img {
    max-width: 100% !important;
}
